@import './../scss/mixin.scss';
@import './../scss/variables.scss';

.aside {
    display: flex;
    flex-direction: column;
    gap: 18.97rem;
    width: 62.8rem;
    height: 100vh;
    height: max-content;
    background-color: var(--bs-light);
    color: var(--bs-company-name);
    // overflow-y: auto;
    
    @media only screen and (max-width: 1500px) {
        width:50rem
    }
    @media only screen and (max-width: 1300px) {
        width:40rem;
        height: 100vh;
    }
    @include respond(tab-land){
     width: 100%;   
    }
    

    &__statistic__block {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin: 0 3rem;
        margin-top: 2rem;
        margin-bottom: 5rem;

        // &__title {}

        &__info {
            display: flex;
            gap: 2rem;
            ul {
                border-radius: 5px;
                width: 24.2rem;
                // height: 12.1rem;
                display: flex;
                flex-direction: column;
                border: 1px solid var(--bs-border-color);

                li {
                    display: flex;
                    justify-content: space-between;
                    border-bottom: 1px solid var(--bs-border-color);
                    padding: 1.98rem 2rem;
                    font-size: 1.4rem;

                    span {
                        font-size: 1.4rem;
                        color: var(--bs-black);
                    }

                    &:last-child {
                        border-bottom: none;
                    }
                }
            }

            &__month {
                color: var(--bs-blue);
                background: var(--bs-statistic-bg);
                width: 24.2rem;
                // height: 12.1rem;
                display: flex;
                flex-direction: column;
                border-radius: 5px;
                padding: 1.9rem;
            }
        }
    }
    &__add{
        width: 62rem;
        height: 28.75rem;
        @include respond(tab-land){
            width: 100%;
        }
    }
    
}

.count {
    @include job-name;
    color: var(--bs-black);
}

.monthly {
    font-size: 1.4rem;
    font-weight: 500;
}

.total {
    letter-spacing: -.06em;
    font-weight: 800;
    font-size: 4.8rem;
    line-height: 4.8rem;
    display: block;
    margin-top: 0.8rem;
}