@import './../../../scss/mixin.scss';
@import './../../../scss/variables.scss';

.detail {
    margin: 0 4rem;
    height: 89.6vh;
    @include main-content;
    width: 58.5rem;
    overflow-y: scroll;
    &::-webkit-scrollbar {
        width: .5rem;
    }
    &::-webkit-scrollbar-thumb {
        background: #eaeaea;
        border-radius: 1rem;
    }
    // @include respond(tab-land){
    //     width: 100%;
    //     visibility: visible;
    // }
    @include respond(tab-land){
        width: 100%;
        margin: 0 1rem;
        
    }
    @media (max-width: 600px) {
        // margin:0;
        width: 95%;
    }
    &__heading {
        display: flex;
        padding-top: 1.7rem;
        border-bottom: 1px solid #dee2e6;
        padding-bottom: 1.5rem;
        margin-bottom: 1.8rem;
        align-items: center;
        justify-content: space-between;
        @include respond(tab-land){
            margin-top: 4rem;
        }
        
        &__title {
            display: flex;
            align-items: center;
            gap: 1rem;
            
            &__logo {

                background: #F0F0F0;
                width: 2.8rem;
                height: 2.8rem;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    max-width: 100%;
                    border-radius: 50%;
                    width: 1.5rem;
                    height: 1.5rem;
                }
            }

            h3 {

                font-size: 1.4rem;
                font-weight: 500;
                display: flex;
            }
        }
        
        &__end {
            display: flex;
            align-items: center;
            gap: 1.5rem;
            margin-right: 1rem;
            
            &__watch {
                display: flex;
                align-items: center;
                gap: .7rem;
            }
            a{
                transform: translateY(3px);
            }
        }
    }
    
    &__vacancy {
        &__name {
            margin-bottom: 1rem;
            h2 {
                @include section-title;
                color: var(--bs-black);
            }
        }

        &__date {
            display: flex;
            align-items: center;
            margin-bottom: 2rem;
            flex-wrap: wrap;

            span {
                display: flex;
                align-items: center;
                gap: 1rem;
                color: var(--bs-expire-date);
                border: 1px solid var(--bs-border-date);
                border-radius: 5px;
                padding: 0.7rem 1.2rem;
                // display: inline-block;
                margin-right: 3rem;
                margin-bottom: 0.5rem;
                font-weight: 500;
            }

            a {
                color: var(--bs-text);
                position: relative;

                &::after {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 1px;
                    background: var(--bs-text);
                    left: 0;
                    top: 2.2rem;

                }

                &:hover {
                    color: var(--bs-blue);
                }
            }
        }
    }
    &__content{
        &__links{
            display: flex;
            align-items: center;
            gap: 4rem;
            border-bottom: 1px solid var(--bs-border-color);
            margin-bottom: 2rem;
            a{
                font-size: 1.4rem;
                font-weight: 500;
                color: var(--bs-black);
                padding: 0 1rem 0.7rem;

                &:hover{
                    color: var(--bs-blue);
                }
            }
        }
        &__description{
            display: none;
            color: var(--bs-black);
            &__title{
                margin-bottom: 2rem;
                font-size: 1.7rem;
            }
            ul{
                margin-bottom: 2rem;
                padding-left: 1.6rem;
                li{
                    font-size: 1.4rem;
                    font-weight: 500;
                    list-style-type: '- ';
                    margin-bottom: .5rem;
                    text-indent: 1rem;
                }
            }
            h4{
                margin-top: 3rem;
                margin-bottom: 1rem;
            }
        }
        &__company{
            display: none;
            color: var(--bs-black);
            &__title{
                
                margin-bottom: 2rem;
                font-size: 1.7rem;
            }
            p{
                font-size: 1.4rem;
                font-weight: 500;
                text-indent: 1rem;
                line-height: 3rem;
                
            }
        }
    }
}
.active{
    display: block;
}