@import './../scss/mixin.scss';
@import './../scss/variables.scss';

.main {
    // margin-top: 2rem;
    width: 62.8rem;
    height: 100vh;
    border-right: 1px solid var(--bs-border-color);
    display: flex;
    flex-direction: column;
    background: var(--bs-light);
    overflow-y: scroll;
    
    
    @media only screen and (max-width: 1400px) {
        width: 58rem;

    }
    
    
    @include respond(tab-land) {
        width: 100%;
        margin-top: 5rem;
    }
    @media (max-width: 600px) {
        width: 100%;
    }

    &::-webkit-scrollbar {
        width: .5rem;
    }

    &::-webkit-scrollbar-thumb {
        background: #eaeaea;
        border-radius: 1rem;
    }

    &__jobs {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 1.6rem;

        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            border-top: 2px solid var(--bs-greenline);
        }

        // &::after{
        //     content: '';
        //     position: absolute;
        //     left: 0;
        //     top: 6.5rem;
        //     width: 100%;
        //     border-top: 2px solid var(--bs-greenline);
        // }

        &__company {
            display: flex;
            gap: 1.5rem;
            align-items: center;
            width: 40rem;
            cursor: pointer;

            @media only screen and (max-width: 1400px) {
                width: 30rem
            }
            @media (max-width: 600px) {
               width: 30rem;
            }

            &__logo {
                img {
                    width: 3.6rem;
                    height: 3.6rem;
                    border-radius: 50%;
                }
                .imageLoading{
                    background: linear-gradient(90deg,#eeeff4 0,rgba(238,239,244,.45) 100%);
                    border-radius: 50%;
                    position: relative;
                    overflow: hidden;
                    width: 3.6rem;
                    height: 3.6rem;
                }
            }

            &__type {
                display: flex;
                flex-direction: column;
                // transform: translateY(.5rem);

                .job-name {
                    color: var(--bs-black);
                    @include job-name;
                    width: 20rem;
                    height: 2rem;
                    border-radius: 3px;
                    margin-bottom: 4px;

                }

                .company-name {
                    color: var(--bs-company-name);
                    width: 7.5rem;
                    height: 1.8rem;
                    border-radius: 3px;
                    display: block;
                    transition: all 0.3s ease;
                }
                .loading{
                    background: linear-gradient(90deg,#eeeff4 0,rgba(238,239,244,.45) 100%);
                    border-radius: 5px;
                    position: relative;
                    overflow: hidden;

                }
            }
        }

        &__info {
            max-height: 1.8rem;
            display: flex;

            &__watch {
                @include respond(tab-land) {
                    display: none !important;
                }
               
            }

            span {
                color: var(--bs-company-name);
                font-size: 1.6rem;
                // align-items: center;
                // display: flex;
                // border-right: 1px solid var(--bs-company-name);
                @media (max-width: 600px) {
                    font-size: 1.4rem;
                }

                &::after {
                    content: '';
                    border-right: 1px solid var(--bs-company-name);
                    height: 1.2rem;
                    margin-left: 1rem;
                    margin-right: 1rem;

                    @include respond(tab-land) {
                        border: none;
                    }
                }
            }

        }
    }
}
.noData{
    color: var(--bs-black);
    text-align: center;
    font-size: 3rem;
}

.heart-icon {
    color: var(--bs-company-name);
    cursor: pointer;


    @include respond(tab-land) {
        display: none;
    }
}

.heart-icon.filled {
    color: var(--bs-wish);
    overflow: hidden;
}

.mobile-header {
    display: none;


    @include respond(tab-land) {
        background: var(--bs-light);
        padding-top: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
    }

    &__logo {
        width: 10.4rem;
        height: 2.7rem;
        mix-blend-mode: multiply;
    }

    &__icon {
        width: 2.5rem;
        height: 1.8rem;
        color: #bbb;
    }
}



.imageLoading{
    background: linear-gradient(90deg,#eeeff4 0,rgba(238,239,244,.45) 100%);
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    width: 3.6rem;
    height: 3.6rem;
}
.hideInfo {
    opacity: 0;
    // transition: opacity 0.5s ease-out; /* Add transition for smooth hide effect */
  }
  